* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Cairo";
  direction: rtl;
  text-align: right;
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: #1f1f1f;
}

html {
  scroll-behavior: smooth;
}

body[data-panel="noScroll"] {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

:root {
  --clr-1: #cb072b;
  --clr-1-hover: #ac0322;
  --clr-2: #153965;
  --clr-3: #12437d;
  --clr-4: #587497;
  --clr-4-hover: #94aac4;
  --clr-4: #8f98a3;
  --card-bg: #f6f7f8;

  --clr-black: #000;

  --title-1: 45px;
  --title-2: 37px;
  --title-3: 29px;
  --title-4: 25px;
  --title-5: 20px;
  --title-6: 18px;
  --title-7: 17px;
  --title-8: 16px;
  --title-9: 15px;

  --border-r-1: 34px;
  --border-r-2: 15px;
  --border-r-3: 10px;
  --border-r-4: 6px;

  --section-padding: 1.5rem;

  --border-clr-1: #cdcdcd;
}

a {
  color: #1f1f1f;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.count-wrap .count-btn span {
  display: inline-flex;
}

/** general styles **/

.counter-wrap .msg-error {
  display: none;
  color: rgba(245, 23, 48, 1);
  font-size: 14px;
  margin-top: 0.625rem;
  font-weight: bold;
  user-select: none;
}
.counter-wrap .msg-error.show {
  display: block;
}

.counter-wrap {
  display: none;
}

.contint-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contint-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-style {
  padding: 2.5rem 0;
}

@media (max-width: 991.98px) {
  .section-style-top {
    padding-top: calc(45px + 2.5rem);
  }
}

.main-title {
  text-transform: uppercase;
  color: #102e52;
  font-size: var(--title-3);
  font-weight: 700;
  margin-bottom: 2.5rem;
}

@media (min-width: 576px) {
  .main-title {
    font-size: var(--title-2);
  }
}

.custom-btn {
  position: relative;
  z-index: 1;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-weight: 500;
  border-radius: var(--border-r-1);
  background-color: var(--clr-1);
  overflow: hidden;
  transition: 0.3s all ease;
}

.custom-btn:hover {
  background-color: var(--clr-1-hover);
  color: #fff;
}

.page-wrapper {
  overflow-x: hidden;
}

.input-focus:focus {
  border-color: #587497 !important;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px #587497 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-group {
  position: relative;
}

.form-group .form-control,
.form-group .form-select {
  border-radius: 5px;
  border-color: #c4c4c4;
  font-size: 16px;
  color: #858585;
  box-shadow: none;
  padding: 0.85rem 0.75rem;
}

.form-group .form-control::placeholder {
  color: #858585;
}

/* ********************nav************** */

.nav-top {
  background-color: var(--clr-2);
  padding: 0.5rem 0;
}

.nav-top .nav-top-title {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
  color: #ffffff;
  display: none;
}

.nav-top .nav-top-social .nav-link {
  font-size: 1.25rem;
  color: #fff;
}

.nav-top .nav-top-social .nav-link:not(:last-child) {
  border-left: 1px solid #fff;
}

.nav-bottom {
  position: relative;
  background-color: var(--clr-black);
  padding: 1rem 0;
  height: 65px;
}

.nav-bottom .product {
  display: none;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 110px;
  height: 90px;
}

.nav-bottom .product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nav-bottom .nav-bottom-contint {
  gap: 4rem;
}

.nav-bottom .nav-bottom-links {
  gap: 0.75rem;
}

.nav-bottom .nav-bottom-links a:hover {
  opacity: 0.9;
}

.nav-bottom .nav-bottom-links .nav-link-title {
  display: none;
  flex-direction: column;
}

.nav-bottom .nav-bottom-links .nav-link-title span {
  color: #fff;
  font-weight: 700;
}

.nav-bottom .nav-bottom-links .nav-link-title span:last-of-type {
  color: #a5a5a5;
}

.nav-bottom .nav-bottom-contint .menu-icon img,
.nav-bottom .nav-bottom-links img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.nav-bottom .nav-bottom-links .cart-num {
  position: absolute;
  top: 2px;
  right: -5px;
  width: 16px;
  height: 16px;
  background-color: var(--clr-1);
  border-radius: 50%;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.nav-bottom .nav-bottom-search {
  display: none;
  position: relative;
  flex: 1;
  max-width: 400px;
}

.nav-bottom .nav-bottom-search input {
  outline: none;
  width: 100%;
  padding: 0.5rem 70px 0.5rem 10px;
  border-radius: var(--border-r-3);
  border: 1px solid var(--border-clr-1);
}

.nav-bottom .nav-bottom-search .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 60px;
  background-color: var(--clr-1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: var(--border-r-3);
  border-bottom-left-radius: var(--border-r-3);
  transition: 0.3s all linear;
}

.nav-bottom .nav-bottom-search .search-btn:hover {
  background-color: var(--clr-1-hover);
}

.nav-bottom .nav-bottom-search .search-btn img {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.nav-bottom .brand-logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bottom .brand-logo img {
  width: 75px;
  height: 65px;
  object-fit: contain;
}

@media (min-width: 576px) {
  .nav-bottom .nav-bottom-contint .menu-icon img,
  .nav-bottom .nav-bottom-links img {
    width: 30px;
    height: 30px;
  }

  .nav-bottom .nav-bottom-links .cart-num {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: 992px) {
  .nav-top .nav-top-title,
  .nav-bottom .nav-bottom-search {
    display: block;
  }

  .nav-top .nav-top-contint {
    justify-content: space-between;
  }

  .nav-bottom {
    height: auto;
  }

  .nav-bottom-contint {
    justify-content: center;
  }

  .nav-bottom .nav-bottom-links {
    gap: 1.5rem;
  }

  .nav-bottom .nav-bottom-links img {
    width: 35px;
    height: 35px;
  }

  .nav-bottom .nav-bottom-contint .menu-icon {
    display: none;
  }

  .nav-bottom .nav-bottom-links .cart-num {
    width: 22px;
    height: 22px;
  }

  .nav-bottom .nav-bottom-links .nav-link-title {
    display: flex;
  }

  .nav-bottom .brand-logo {
    position: static;
    width: 110px;
    height: 110px;
    transform: none;
  }

  .nav-bottom .brand-logo img {
    width: 100px;
    height: 90px;
  }
}

@media (min-width: 1200px) {
  .nav-bottom .brand-logo {
    width: 120px;
    height: 120px;
  }

  .nav-bottom .product {
    display: block;
  }
  .nav-bottom .nav-bottom-contint {
    gap: 5rem;
  }
}

@media (min-width: 1400px) {
  .nav-bottom .nav-bottom-search {
    max-width: 450px;
  }

  .nav-bottom .product {
    left: 20px;
    width: 120px;
    height: 100px;
  }
}

@media (min-width: 1920px) {
  .nav-bottom-contint {
    gap: 6rem;
  }

  .nav-bottom .nav-bottom-search {
    max-width: 650px;
  }

  .nav-bottom .brand-logo {
    width: 150px;
    height: 150px;
  }

  .nav-bottom .brand-logo img {
    width: 135px;
    height: 100px;
  }

  .nav-bottom {
    padding: 1.5rem;
  }

  .nav-bottom .product {
    width: 180px;
    height: 125px;
  }
}

/* *****************end nav**************** */

header {
  display: none;
  background-color: var(--clr-2);
}

header .header-contint .header-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s all linear;
}

header .header-contint .header-item:hover {
  background-color: var(--clr-3);
}

header .header-item .header-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-bottom: 0.25rem;
}

header .header-item .header-title {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

@media (min-width: 992px) {
  header {
    display: block;
  }
}

/***************** hero section*************** */

.home-hero {
  width: 100%;
  background: url(../images/hero-bg.jpg) no-repeat center center/cover;
  height: calc((var(--vh, 1vh) * 100) - (var(--nav-h) + var(--tool-bar-h)));
}

.home-hero .slider-container {
  position: relative;
  height: 100%;
}

.home-hero .slider-container .hero-slider {
  width: 100%;
  height: 100%;
}

.home-hero .slider-container .hero-slider .hero-item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
  height: 100%;
  flex-wrap: wrap;
}

.home-hero .slider-container .hero-slider .hero-item .hero-info,
.home-hero .slider-container .hero-slider .hero-item .hero-img {
  width: 100%;
}

.home-hero .slider-container .hero-slider .hero-item .hero-img {
  height: 200px;
}

.home-hero .slider-container .hero-slider .hero-item .hero-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}

.home-hero .slider-container .hero-slider .hero-item .hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0 1rem;
}

.home-hero .slider-container .hero-slider .hero-item .hero-info .hero-title {
  font-family: system-ui, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: #e3dfdf;
  margin-bottom: 0.75rem;
}

.home-hero .slider-container .hero-slider .hero-item .hero-info .hero-desc {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 0.75rem;
}

.home-hero .slider-container .hero-slider .hero-item .hero-info .hero-btn {
  position: relative;
  z-index: 1;
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  color: var(--clr-1);
  font-size: var(--title-5);
  font-weight: 700;
  border-radius: 36px;
  overflow: hidden;

  transition: 0.3s color linear, 0.3s background-color linear;
}

.home-hero
  .slider-container
  .hero-slider
  .hero-item
  .hero-info
  .hero-btn::after,
.home-hero
  .slider-container
  .hero-slider
  .hero-item
  .hero-info
  .hero-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--clr-1);
  border-radius: 36px;
  opacity: 0;
  z-index: -1;
  transition: 0.3s all linear;
}

.home-hero
  .slider-container
  .hero-slider
  .hero-item
  .hero-info
  .hero-btn::after {
  top: 0;
  left: 0;
  transform: translate(-100%, 0);
}

.home-hero
  .slider-container
  .hero-slider
  .hero-item
  .hero-info
  .hero-btn::before {
  bottom: 0;
  right: 0;
  transform: translate(100%, 0);
}

.home-hero .slider-container .swiper-pagination-bullet {
  width: 14px;
  height: 8px;
  border-radius: 5px;
  background-color: #b6b6b6;
  transition: 0.3s all linear;
}

.home-hero
  .slider-container
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 30px;
  background-color: #fff;
}

@media (hover: hover) and (pointer: fine) {
  .home-hero
    .slider-container
    .hero-slider
    .hero-item
    .hero-info
    .hero-btn:hover::after,
  .home-hero
    .slider-container
    .hero-slider
    .hero-item
    .hero-info
    .hero-btn:hover::before {
    opacity: 1;
    transform: translate(0, 0);
  }

  .home-hero
    .slider-container
    .hero-slider
    .hero-item
    .hero-info
    .hero-btn:hover {
    color: #fff;
    background-color: var(--clr-1);
    transition: 0.3s color linear, 0.3s background-color linear 0.15s;
  }
}

@media (min-width: 768px) {
  .home-hero .slider-container .hero-slider .hero-item {
    gap: 2rem;
  }

  .home-hero .slider-container .hero-slider .hero-item .hero-info,
  .home-hero .slider-container .hero-slider .hero-item .hero-img {
    flex: 1;
    max-width: 450px;
    height: 100%;
  }

  .home-hero .slider-container .hero-slider .hero-item .hero-info {
    padding: 0;
    align-items: flex-start;
    text-align: right;
  }

  .home-hero .slider-container .hero-slider .hero-item .hero-info .hero-title {
    font-size: 2.25rem;
  }

  .home-hero .slider-container .hero-slider .hero-item .hero-info .hero-desc {
    font-size: 1.75rem;
  }

  .home-hero .slider-container .hero-slider .hero-item .hero-img img {
    object-position: center left;
  }

  .home-hero .slider-container .hero-slider .hero-item .hero-info .hero-btn {
    padding: 0.75rem 2rem;
  }
}

@media (min-width: 992px) {
  .home-hero {
    height: calc((var(--vh, 1vh) * 100) - var(--nav-h));
  }
}

/* ****************category section**************** */
.category-section {
  padding-bottom: 0;
}

.category-contint {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

.category-card {
  position: relative;
  height: 100%;
  z-index: 1;
  background-color: var(--card-bg);
  padding: 2rem 1.5rem;
  border-radius: var(--border-r-3);
  overflow: hidden;
}

.category-card.category-bg {
  min-height: 330px;
  height: 100%;
}

.category-card .category-info {
  height: 100%;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.category-card .category-info .category-title {
  font-size: var(--title-5);
  font-weight: 700;
  color: var(--clr-3);
}

.category-card.category-bg .category-info .category-title {
  color: #fff;
}

.category-card .category-img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
}

.category-card .category-img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media (min-width: 640px) {
  .category-contint {
    grid-template-columns: repeat(2, 1fr);
  }
  .item-full {
    grid-column: 1 / 3;
  }
}

@media (min-width: 768px) {
  .category-card .category-info .category-title {
    font-size: var(--title-4);
  }
}

@media (min-width: 992px) {
  .category-contint {
    grid-template-columns: repeat(3, 1fr);
  }
  .item-full {
    grid-column: 3;
    grid-row: 1 / span 2;
  }
}

/* *************featured-products-section**************** */

.product-card {
  padding: 15px;
  border-radius: var(--border-r-2);
  border: 1px solid #dfdfdf;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);
}

.product-card .product-img-contint {
  position: relative;
  padding: 3rem 0.75rem 0.75rem;
  border-radius: var(--border-r-2);
  background-color: var(--card-bg);
}

.product-card .product-img-contint .product-img {
  width: 100%;
  max-height: 150px;
  margin-bottom: 0.75rem;
}

.product-card .product-img-contint .product-img img {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
}

.product-card .product-img-contint .add-to-fav {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 35px;
  height: 35px;
  font-size: 1.25rem;
  border-radius: 50%;
  background-color: #fff;
  color: var(--clr-1);
}

.add-to-fav span{
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.3s ease-in-out;
  transform: scale(0) translate(-50%, -50%);
  opacity: 0;
}


.add-to-fav:not(.active) span:first-of-type,
.add-to-fav.active span:last-of-type {
  transform: scale(1) translate(-50%, -50%);
  opacity: 1;
}

.product-card .product-img-contint .product-sell {
  padding: 0rem 0.75rem;
  background-color: #fff;
  color: var(--clr-3);
  font-weight: 700;
  font-size: 15px;
  border-radius: var(--border-r-4);
}

.product-card .product-card-body {
  padding: 1rem 0 0.75rem;
}

.product-card .product-card-body .product-price-box {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1rem;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.product-card .product-card-body .product-price-box .product-price {
  color: var(--clr-3);
}

.product-card .product-card-body .product-price-box .product-old-price {
  position: relative;
  color: var(--clr-4-hover);
}

.product-card .product-card-body .product-price-box .product-old-price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--clr-4-hover);
  transform: rotate(-15deg);
}

.product-card .product-card-body .product-title {
  display: block;
  font-size: var(--title-5);
  font-weight: 700;
  color: var(--clr-4);
  margin-bottom: 0.75rem;
  transition: 0.3s ease-in-out;
}

.product-card .product-card-body .product-title:hover {
  color: var(--clr-3);
}

.product-card .product-card-body .product-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.product-card .product-card-body .product-rating .product-rating-stars {
  font-size: 13px;
  color: var(--clr-1);
}

.product-card .product-card-body .product-rating .product-rating-count {
  font-size: 13px;
  color: #99a1aa;
}

.add-to-cart-btn {
  position: relative;
  width: 150px;
  height: 40px;
}

.add-to-cart-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.add-to-cart-btn span:last-of-type {
  transform: translate(-50%, -100px);
}

.add-to-cart-btn.active span:first-of-type {
  transform: translate(-50%, 100px);
}

.add-to-cart-btn.active span:last-of-type,
.add-to-cart-btn span:first-of-type {
  transform: translate(-50%, -50%);
}

.add-to-cart-btn.loading::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.8;
  z-index: 100;
}

.add-to-cart-btn.loading::after {
  content: "";
  position: absolute;
  border: 2px solid transparent;
  border-radius: 32px;
  border-top: 2px solid #f2aab7 !important;
  border-right: 2px solid var(--clr-1) !important;
  border-bottom: 2px solid #f2aab7 !important;
  border-left: 2px solid var(--clr-1) !important;
  display: block;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  margin-left: -10px;
  right: auto;
  width: 20px;
  animation: button-loading-spinner 1s ease infinite;
  z-index: 100;
}

@keyframes button-loading-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.products-slider-container {
  position: relative;
}

.products-slider-container .swiper-slide {
  padding: 0.25rem 0;
}

.products-slider-container .swiper-button-next,
.products-slider-container .swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-3);
  color: #fff;
  font-size: 1.25rem;
}

.products-slider-container .swiper-button-next:hover,
.products-slider-container .swiper-button-prev:hover {
  background-color: var(--clr-2);
}

.products-slider-container .swiper-button-next::after,
.products-slider-container .swiper-button-prev::after {
  display: none;
}

.products-slider-container .swiper-button-next {
  left: 0;
  right: auto;
  transform: translateX(15px);
}

.products-slider-container .swiper-button-prev {
  right: 0;
  left: auto;
  transform: translateX(-15px);
}

@media (max-width: 576px) {
  .product-card .product-card-body {
    display:flex ;
    flex-decoration:column ;
    justify-content:center;
    align-item:center 
  } 
  .all-products-wrap .product-card {
    padding: 5px;
  }
  .all-products-wrap .product-card .product-card-body .product-price-box,
  .all-products-wrap .product-card .product-card-body .product-title,
  .all-products-wrap .product-card .product-card-body .product-rating {
    margin-bottom: 0.5rem;
  }
  
  .all-products-wrap .product-card .product-card-body .product-rating {

    display:none;

  }

  .all-products-wrap .product-card .product-card-body .product-title {
    font-size: 1rem;
  }

  .all-products-wrap .product-card .product-card-body .add-to-cart-btn {
    height: 37px;
    border-radius: 7px;
    max-width:100%
  }

  .all-products-wrap .product-card .product-img-contint {
    height: 200px;
    padding: 1.5rem 0.5rem 0.5rem;
  }
}

@media (min-width: 640px) {
  .products-slider-container .swiper-button-next,
  .products-slider-container .swiper-button-prev {
    border-radius: 50%;
  }

  .products-slider-container .swiper-button-next {
    transform: translateX(-50%);
  }

  .products-slider-container .swiper-button-prev {
    transform: translateX(50%);
  }
}

/**********************discover-section**************** */

.discover-section {
  background: url(../images/discover-bg.png) no-repeat center center / cover;
}

.discover-contint {
  gap: 1.5rem;
  flex-wrap: wrap;
}

.discover-contint .discover-img,
.discover-contint .discover-info {
  width: 100%;
}

.discover-contint .discover-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.discover-contint .discover-info .discover-title {
  color: var(--clr-3);
  font-size: 1.5rem;
  font-weight: 500;
}

.discover-contint .discover-info .discover-desc {
  font-size: 1.25rem;
  color: #102e52;
}

.discover-contint .discover-info .custom-btn {
  font-size: 1.25rem;
}

.discover-contint .discover-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .discover-contint .discover-img,
  .discover-contint .discover-info {
    width: auto;
    flex: 1;
  }

  .discover-contint .discover-info {
    gap: 0.75rem;
  }

  .discover-contint {
    gap: 2.5rem;
  }

  .discover-contint .discover-info .discover-title {
    font-size: 1.75rem;
  }

  .discover-contint .discover-info .discover-desc {
    font-size: 1.5rem;
  }

  .discover-contint .discover-info .custom-btn {
    font-size: 1.5rem;
  }
}

/* **************features-section*************** */

.features-section {
  position: relative;
  border-top: 5px solid #f1f1f1;
}

.features-section .features-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom left;
  pointer-events: none;
}

.features-contint {
  flex-wrap: wrap;
  column-gap: 1.5rem;
  row-gap: 1rem;
}

.features-item {
  gap: 1rem;
}

.features-item .features-img {
  flex-shrink: 0;
  width: 100px;
  height: 90px;
  border-radius: 20px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);
}

.features-item:nth-child(even) .features-img {
  background-color: var(--clr-1);
}

.features-item .features-img img {
  width: 55px;
  height: 55px;
  object-fit: contain;
}

.features-item .features-title {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--clr-3);
}

.newsletter-contint {
  background-color: var(--clr-1);
}

.newsletter-contint .newsletter-title {
  font-size: 1.25rem;
  color: #fff;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.75rem;
}

.newsletter-contint .newsletter-desc {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  margin-bottom: 1.5rem;
}

.newsletter-contint .newsletter-form {
  gap: 0.75rem;
}

.newsletter-contint .newsletter-form input {
  all: unset;
  width: calc(100% - 100px);
  height: 50px;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 0.75rem;
  color: #1e1e1e;
}

.newsletter-contint .newsletter-form .newsletter-btn {
  height: 50px;
  color: #fff;
  background-color: #91041e;
  padding: 0 0.75rem;
  border-radius: 10px;
}

@media (min-width: 576px) {
  .features-item .features-img {
    width: 110px;
    height: 100px;
  }

  .features-item .features-img img {
    width: 65px;
    height: 65px;
  }

  .features-item .features-title {
    font-weight: 500;
    font-size: 1.5rem;
  }

  .newsletter-contint .newsletter-title {
    font-size: 1.75rem;
  }

  .newsletter-contint .newsletter-desc {
    font-size: 1.25rem;
  }

  .newsletter-contint .newsletter-form {
    gap: 1rem;
  }

  .newsletter-contint .newsletter-form input {
    width: 450px;
  }

  .newsletter-contint .newsletter-form .newsletter-btn {
    padding: 0 1.5rem;
    font-size: 1.5rem;
  }
}

/* *******************foooter****************** */

footer {
  background: linear-gradient(90deg, #102e52 0%, #09223f 100%);
}

.footer-contint {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 3rem;
}

.footer-contint .footer-box {
  flex: 1;
}

.footer-contint .footer-box .footer-payment {
  justify-content: flex-start;
  gap: 0.5rem;
}

.footer-desc {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1rem;
}

.footer-desc span {
  font-size: 1.25rem;
  font-weight: 500;
  font-family: system-ui;
}

.footer-payment img {
  width: 75px;
  height: 40px;
  object-fit: contain;
}

.footer-title {
  position: relative;
  white-space: nowrap;
  margin-bottom: 1.75rem;
  font-size: 1.5rem;
  color: #fff;
  width: fit-content;
}

.footer-title::after {
  content: "";
  position: absolute;
  bottom: calc(-0.75rem - 2px);
  right: 0;
  width: 40%;
  height: 3px;
  background-color: var(--clr-1);
}

.footer-social {
  justify-content: flex-start;
  gap: 1rem;
}

.footer-social .social-link {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: var(--clr-3);
}

.footer-social .social-link:nth-child(even) {
  background-color: var(--clr-1);
}

.footer-social .social-link img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.footer-list {
  list-style: none;
}

.footer-list .footer-item:not(:last-child) {
  margin-bottom: 0.25rem;
}

.footer-list .footer-item {
  position: relative;
  padding-right: 15px;
}

.footer-list .footer-item::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #afd5ff;
}

.footer-list .footer-item .footer-link {
  color: #fff;
  font-weight: 400;
  transition: 0.3s color ease;
}

.footer-list .footer-item .footer-link:hover {
  color: #afd5ff;
}

.copy-right {
  padding: 1rem;
  border-top: 2px solid #081525;
}

.copy-right p {
  text-align: center;
  color: #fff;
}

@media (max-width: 991.98px) {
  footer {
    padding-bottom: 65px;
  }
  .copy-right p {
    font-size: 14px;
  }

  .footer-title {
    font-size: 1.25rem;
  }
  .footer-payment img {
    width: 65px;
    height: 40px;
  }
}

/************* All products page *******************/

.all-products-wrap {
  display: flex;
  gap: 2rem;
}

/* all product filter */

.all-products-wrap .all-products-filter {
  width: 300px;
  max-width: 80%;
  padding: 1rem;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  overflow-y: auto;
  background-color: #fff;
  transition: 0.3s transform ease;
}

.all-products-wrap .all-products-filter .close-filter {
  margin-bottom: 1rem;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background-color: var(--clr-1);
  color: #fff;
}

.all-products-wrap .all-products-filter .filter-header span {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--clr-2);
}

.all-products-wrap .all-products-filter .filter-header i {
  font-size: 1rem;
  color: var(--clr-2);
}

.all-products-wrap .all-products-filter .close-filter:hover {
  background-color: var(--clr-1-hover);
}

.all-products-wrap .all-products-filter.active {
  transform: translateX(0);
}

.all-products-wrap .all-products-filter .accordion-item {
  margin-bottom: 1rem;
  border-radius: 15px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 3px 3px 0px #00000029;
}

.all-products-wrap .all-products-filter .accordion-item .accordion-button {
  gap: 0.5rem;
  color: var(--clr-2);
  justify-content: start;
}

.all-products-wrap .all-products-filter .accordion-item .accordion-button img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  filter: invert(14%) sepia(66%) saturate(7387%) hue-rotate(344deg)
    brightness(79%) contrast(101%);
}

.all-products-wrap
  .all-products-filter
  .accordion-item
  .accordion-button:focus {
  box-shadow: none;
  border: none;
}

.all-products-wrap
  .all-products-filter
  .accordion-item
  .accordion-button:not(.collapsed) {
  background-color: var(--clr-1);
  color: #fff;
}

.all-products-wrap
  .all-products-filter
  .accordion-item
  .accordion-button:not(.collapsed)
  img {
  filter: invert(1);
}

.all-products-wrap .all-products-filter .accordion-button::after {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("../images/icons/chevron.svg");
  filter: invert(14%) sepia(66%) saturate(7387%) hue-rotate(344deg)
    brightness(79%) contrast(101%);
}

.all-products-wrap .accordion-button:not(.collapsed)::after {
  transform: translateY(-50%) rotate(180deg);
  filter: invert(1);
}

.all-products-wrap .all-products-filter .accordion-item .check-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0;
  color: #8f98a3;
  transition: 0.3s background-color ease;
}

.all-products-wrap .all-products-filter .check-item input[type="checkbox"] {
  display: grid;
  place-content: center;
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: #8f98a3;
  width: 16px;
  height: 16px;
  border: 0.15em solid #8f98a35c;
  border-radius: 3px;
  overflow: hidden;
  transform: translateY(-0.075em);
  cursor: pointer;
  transition: 0.3s background-color ease;
}

.all-products-wrap .all-products-filter .check-item label {
  font-size: 0.875rem;
  font-weight: 400;
  cursor: pointer;
}

.all-products-wrap
  .all-products-filter
  .check-item
  input[type="checkbox"]:checked
  + label {
  color: var(--clr-1);
}

.all-products-wrap
  .all-products-filter
  .check-item
  input[type="checkbox"]:checked {
  background-color: var(--clr-1);
  border-color: var(--clr-1);
}

input[type="checkbox"]::before {
  content: "";
  width: 11px;
  height: 11px;
  transform: scale(0);
  background: url("../images/icons/check.svg") no-repeat center center / contain;
  transition: 120ms transform ease-in-out;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

@media (min-width: 992px) {
  .all-products-wrap .all-products-filter {
    flex: 0 0 250px;
    height: 100%;
    position: sticky;
    top: 1rem;
    padding: 0;
    transform: translateX(0);
    z-index: 0;
  }

  .all-products-wrap .all-products-filter .filter-header,
  .all-products-wrap .all-products-filter .close-filter {
    display: none;
  }
}

/* all product contint */

.sort-select {
  position: relative;
  cursor: pointer;
  outline: none;
  box-shadow: none !important;
  font-size: 1rem;
  border: 1px solid #8f98a35c;
  font-weight: 400;
  background: url("../images/icons/chevron.svg") no-repeat left center / 15px
    15px;
  background-position: 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
}

.sort-select:focus {
  border-color: var(--clr-1);
}

.all-products-contint {
  flex: 1;
}

.all-products-header .all-products-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: #102e52;
}
.all-products-header .product-filter-btn {
  gap: 0.5rem;
  color: #121212;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #8f98a35c;
}

@media (min-width: 992px) {
  .all-products-header .product-filter-btn {
    display: none;
  }
}

/*---------------single product--------------- */

.single-product-info .single-product-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--clr-2);
}

.single-product-info .single-product-raing {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  color: #eec72c;
  border-bottom: 1px solid #dfdfdf;
}

.single-product-info .single-product-price {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--clr-1);
}

.single-product-info .single-product-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.single-product-info .single-product-list li span:first-child {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--clr-2);
}

.single-product-info .single-product-list li span:last-child {
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-4);
}

.single-product-btns {
  display: flex;
  align-items: stretch;
  gap: 1rem;
  margin-bottom: 1rem;
}

.single-product-btns .custom-btn {
  border-radius: 5px;
}

.single-product-btns .single-product-fav-btn {
  position: relative;
  width: 45px;
  height: auto;
  border-radius: 5px;
  border: 1px solid #587497a2;
  color: #587497;
}

.single-product-btns .single-product-fav-btn.active {
  border-color: var(--clr-1);
  color: var(--clr-1);
}

@media (min-width: 992px) {
  .single-product-info .single-product-title {
    font-size: 2rem;
  }
}

/**** product-description-slider-container ***/

.product-description-img-container {
  padding-left: 0.75rem;
}
.product-description-img-container .product-gallery {
  position: relative;
  margin-bottom: 1.25rem;
}


.lightbox-item{
    
  outline: none;
  border: none;
  box-shadow:none;
}
a[data-fancybox] img {
cursor: zoom-in;
}
.fancybox-zoomIn {
animation: 0.25s ease both fancybox-zoomIn;
}
.fancybox-zoomOut {
animation: 0.15s ease both fancybox-zoomOut;
}
@keyframes fancybox-zoomIn {
from {
  opacity: 0;
  transform: scale(0.75);
}

to {
  opacity: 1;
  transform: scale(1);
}
}
@keyframes fancybox-zoomOut {
to {
  opacity: 0;
  transform: scale(1.25);
}
}

/* slick **/

.product-description-area
  .product-description-slider
  .slick-slide
  .product-full-img {
  display: block;
  position: relative;
}

.product-description-area
  .product-description-slider
  .slick-slide
  .product-full-img
  img {
  display: block;
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  transition: all 0.3s ease;
  text-align: center;
  margin: auto;
  box-shadow: none;
  border: none;
  border-radius: var(--border-r-2);
}

.product-description-slider.slider-nav .slick-list {
  margin: 0 -10px;
}
.product-description-slider.slider-nav .slick-slide {
  margin: 0 10px;
}
.product-description-slider .product-img-thumbnail {
  position: relative;
  display: block;
  padding: 1rem;
}
.product-description-area
  .product-description-slider
  .product-img-thumbnail
  img {
  display: block;
  width: 100%;
  max-height: 120px;
  object-fit: contain;
  transition: all 0.3s ease;
  opacity: 0.5;
  cursor: pointer;
  margin: auto;
  text-align: center;
  border-radius: var(--border-r-3);
}
.product-description-area
  .product-description-slider.slider-nav
  .slick-slide.is-active
  img {
  opacity: 1;
}

.product-description-area
  .product-description-slider.slider-nav
  .slick-slide.is-active
  .product-img-thumbnail::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid var(--clr-3);
  border-radius: var(--border-r-3);
}

.product-description-slider .slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 16px;
  width: 28px;
  height: 28px;
  background-color: var(--clr-3);
  color: #fff;
  transition: all 0.3s ease;
  z-index: 10;
}
.product-description-slider .slick-arrow:hover {
  background-color: var(--clr-3-hover);
  color: #fff;
}
.product-description-area
  .product-description-slider
  .slick-arrow.slick-disabled {
  opacity: 0;
  pointer-events: none;
}
.product-description-area
  .product-description-slider.slider-nav
  .slick-arrow.next-arrow {
  left: -14px;
}
.product-description-area
  .product-description-slider.slider-nav
  .slick-arrow.prev-arrow {
  right: -14px;
}

@media (max-width: 1199.98px) {
  .product-description-img-container {
    padding-left: 0.5rem;
  }
}
@media (max-width: 991.98px) {
  .product-description-img-container {
    padding-left: 0;
  }
}

@media (max-width: 767.98px) {
  .product-description-slider .slick-arrow {
    width: 28px;
    height: 28px;
    font-size: 15px;
  }
  .product-description-area
    .product-description-slider.slider-nav
    .slick-arrow.next-arrow {
    left: -8px;
  }
  .product-description-area
    .product-description-slider.slider-nav
    .slick-arrow.prev-arrow {
    right: -8px;
  }
  .product-description-slider.slider-nav .slick-list {
    margin: 0 -0.375rem;
  }
  .product-description-area
    .product-description-slider.slider-nav
    .slick-slide {
    margin: 0 0.375rem;
  }
}
@media (max-width: 575.98px) {
  .product-description-area
    .product-description-slider
    .slick-slide
    .product-full-img
    img {
    height: 300px;
  }
  .product-description-area
    .product-description-slider
    .product-img-thumbnail
    img {
    max-height: 100px;
  }
}
/* slick **/

/******************single-product-disc*******************/

.single-product-disc .nav-pills {
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 1.5rem;
}

.single-product-disc .nav-pills .nav-item .nav-link {
  font-size: 1rem;
  color: var(--clr-2) !important;
  padding-bottom: 1rem;
}

.single-product-disc .nav-pills .nav-link.active,
.single-product-disc .nav-pills .show > .nav-link {
  border-radius: 0;
  background-color: transparent !important;
  border-bottom: 3px solid var(--clr-1) !important;
  color: var(--clr-1) !important;
}

.single-product-disc .description-tap {
  font-size: 1rem;
  color: var(--clr-4);
}

@media (min-width: 992px) {
  .single-product-disc .nav-pills,
  .single-product-disc .description-tap {
    max-width: 85%;
  }
  .single-product-disc .nav-pills .nav-item .nav-link {
    font-size: 1.5rem;
  }
}

.single-product-info-tap {
  max-width: 800px;
  border: 1px solid #f8f8f8;
  box-shadow: 0px 3px 5px rgba(12, 11, 11, 0.160784);
  border-radius: 34px;
  padding: 0;
  overflow: hidden;
}

.single-product-info-tap .single-product-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.single-product-info-tap .single-product-item:nth-child(even) {
  background-color: #f1f1f1;
}

.single-product-info-tap .single-product-item:first-child {
  padding-top: 1.5rem;
}

.single-product-info-tap .single-product-item:last-child {
  padding-bottom: 1.5rem;
}

.single-product-info-tap .single-product-item span {
  flex: 1;
  font-size: 1rem;
}

.single-product-info-tap .single-product-item span:first-child {
  font-weight: 600;
  color: var(--clr-2);
}

.single-product-info-tap .single-product-item span:last-child {
  color: var(--clr-4);
}

@media (min-width: 992px) {
  .single-product-info-tap .single-product-item span {
    flex: 1;
    font-size: 1.25rem;
  }

  .single-product-disc .description-tap {
    font-size: 1.25rem;
  }
}

/* !--------------------- start page absolute component style----------------------------------------------------> */

/*** cart-alert*** */
.cart-alert {
  position: fixed;
  top: 20px;
  right: 10px;
  z-index: 111;
  gap: 0.5rem;
  transform: translateX(calc(100% + 10px));
  transition: 0.3s transform ease;
}

.cart-alert.active {
  transform: translateX(0);
}

.cart-alert .alert-icon {
  width: 30px;
  height: 30px;
  background-color: #badbcc;
  border-radius: 50%;
}

/**** toolbar***/

.tool-bar {
  position: fixed;
  right: 0;
  bottom: 0px;
  left: 0;
  z-index: 700;
  display: none;
  align-items: center;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 5px;
  height: 65px;
  background-color: #fff;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.18);
  transition: all 0.3s ease;
}
.tool-bar > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.tool-bar .tool .tool-link {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  height: 50px;
  position: relative;
  padding: 0px 10px 20px;
  transition: all 0.3s ease;
}
.tool-bar .tool .tool-icon svg {
  width: 22px;
  height: 22px;
  fill: #666;
  transition: all 0.3s ease;
}
.tool-bar .tool .tool-link span {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1;
  color: #666;
  transition: inherit;
}
.tool-bar .tool .tool-link:hover,
.tool-bar .tool .tool-link:hover span {
  color: var(--clr-1);
}
.tool-bar .tool .tool-link:hover svg {
  fill: var(--clr-1);
}
.tool-bar .tool.cart-tool .counter {
  top: -4px;
  right: 2px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 8px;
}

@media (max-width: 991.98px) {
  .tool-bar {
    display: flex;
  }
}

/*------------- #cart-panel --------------*/

.cart-panel {
  position: fixed !important;
  top: 0;
  bottom: 0;
  z-index: 99999;
  overflow-y: auto;
  right: -120%;
  width: 350px;
  transition: all 0.3s ease;
  display: block;
  box-shadow: 1px 0 5px rgb(0 0 0 / 50%);
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
}
.cart-panel.active {
  right: 0;
}

.cart-panel .panel-head {
  position: relative;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid var(--border-clr-1);
}
.cart-panel .panel-head .head-title {
  font-size: var(--title-4);
  font-weight: 400;
  color: var(--clr-1);
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.cart-panel .panel-head .head-desc {
  font-size: 1.25rem;
  color: var(--clr-4);
}

.cart-panel .panel-head .panel-close {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: inline-flex;
  color: #909090;
  font-size: 24px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.cart-panel .panel-head .panel-close:hover {
  color: var(--clr-1);
}

.cart-panel .panel-body {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-panel .panel-body .cart-items .item-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 1rem;
  border-bottom: 1px solid #cccccc;
}
.cart-panel .panel-body .cart-items .item-wrap:last-child {
  border-bottom: none;
}
.cart-panel .panel-body .cart-items .item-wrap .item-img {
  flex-shrink: 0;
  width: 110px;
  height: 100px;
  border: 1px solid #e7e7e7;
  border-radius: 20px;
}
.cart-panel .panel-body .cart-items .item-wrap .item-img img {
  display: block;
  object-fit: cover;
  max-width: 85px;
  max-height: 85px;
}
.cart-panel .panel-body .cart-items .item-wrap .item-details {
  height: 100px;
  flex: 1;
  position: relative;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cart-panel .panel-body .cart-items .item-wrap .item-details .item-name {
  display: inline-block;
  font-size: 1.25rem;
  color: var(--clr-2);
  transition: all 0.3s ease;
}
.cart-panel .panel-body .cart-items .item-wrap .item-details .item-name:hover {
  color: var(--clr-1);
}
.cart-panel .panel-body .cart-items .item-wrap .item-details .item-pieces {
  font-size: 14px;
  color: var(--clr-4);
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .item-price {
  font-weight: 400;
  font-size: 1rem;
  color: var(--clr-1);
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .item-name bdi,
.cart-panel .panel-body .cart-items .item-wrap .item-details .item-price bdi {
  color: var(--clr-1);
}
.cart-panel .panel-body .cart-items .item-wrap .del-item {
  position: absolute;
  top: 0;
  left: 0rem;
  display: block;
  color: var(--clr-2);
  transition: all 0.3s ease;
  font-size: 16px;
  width: 16px;
  height: 16px;
}
.cart-panel .panel-body .cart-items .item-wrap .del-item:hover {
  color: var(--clr-1);
}

.cart-panel .panel-body .panel-actions {
  padding: 1.5rem 1rem;
  border-top: 1px solid var(--border-clr-1);
}

.cart-panel .panel-body .panel-actions .total-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.cart-panel .panel-body .panel-actions .total-cart > span {
  display: inline-block;
  margin-bottom: 1rem;
  font-weight: bold;
}

.cart-panel .panel-body .panel-actions .total-cart .total-title {
  font-size: var(--title-6);
}

.cart-panel .panel-body .panel-actions .total-cart .total-val {
  color: var(--clr-1);
  font-size: var(--title-6);
}

.cart-panel .panel-body .panel-actions .actions-btns .action-btn {
  display: block;
  text-align: center;
  padding: 0.75rem;
  margin-bottom: 0.75rem;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: bold;
}
.cart-panel .panel-body .panel-actions .actions-btns .action-btn:last-child {
  margin-bottom: 0;
}

.cart-panel .panel-body .panel-actions .actions-btns .action-btn.cart-link {
  background-color: #eee;
}
.cart-panel
  .panel-body
  .panel-actions
  .actions-btns
  .action-btn.cart-link:hover {
  background-color: #ddd;
}
.cart-panel .panel-body .panel-actions .actions-btns .action-btn.checkout-link {
  background-color: var(--clr-1);
  color: #fff;
}
.cart-panel
  .panel-body
  .panel-actions
  .actions-btns
  .action-btn.checkout-link:hover {
  background-color: var(--clr-1-hover);
}

.cart-panel .panel-body .cart-items .item-wrap .item-details .count-wrap {
  width: auto;
  height: auto;
  max-width: inherit;
  align-items: center;
  margin-top: 0.5rem;
}
.cart-panel
  .panel-body
  .cart-items
  .item-wrap
  .item-details
  .count-wrap
  .count-num {
  font-size: 15px;
  padding: 0.375rem;
  display: inline-block;
  width: auto;
  border: none;
  max-width: 45px;
}
.cart-panel
  .panel-body
  .cart-items
  .item-wrap
  .item-details
  .count-wrap
  .count-btn {
  width: 25px;
  height: 25px;
  padding: 0;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.22);
}
.cart-panel
  .panel-body
  .cart-items
  .item-wrap
  .item-details
  .count-wrap
  .count-btn
  svg {
  width: 12px;
  height: 12px;
  fill: var(--clr-1);
}
.cart-panel
  .panel-body
  .cart-items
  .item-wrap
  .item-details
  .count-wrap
  .count-btn:hover {
  background-color: var(--clr-1);
}
.cart-panel
  .panel-body
  .cart-items
  .item-wrap
  .item-details
  .count-wrap
  .count-btn:hover
  svg {
  fill: #fff;
}
.cart-panel
  .panel-body
  .cart-items
  .item-wrap
  .item-details
  .count-wrap
  .count-btn.disabled
  svg {
  fill: rgba(121, 121, 121, 1);
}

@media (min-width: 576px) {
  .cart-panel::-webkit-scrollbar {
    width: 5px;
  }
  .cart-panel::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 20px;
  }
  .cart-panel::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
  }
}

@media (max-width: 480px) {
  .cart-panel {
    width: calc(90%);
  }
}

/**** search-popup***/

.search-popup {
  position: fixed;
  left: 0;
  top: -200px;
  padding: 1rem 0;
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgb(0 0 0 / 20%);
  border-bottom: 1px solid #eee;
  width: 100%;
  z-index: 9999;
  transition: all 0.3s ease;
}
.search-popup.active {
  top: 0;
}
.search-popup .close-search-popup {
  margin-right: auto;
  margin-bottom: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.38rem;
  color: #909090;
  transition: all 0.3s ease;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.search-popup .close-search-popup:hover {
  color: var(--clr-1);
}
.search-popup .form-group {
  display: flex;
  align-items: center;
}
.search-popup .form-group input {
  flex: 1;
  width: auto;
  border-radius: 0px 3px 3px 0px;
  border-color: #eee;
  background-color: #f4f4f4;
  color: #777;
  height: 50px;
}
.search-popup .form-group .search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  background-color: var(--clr-1);
  width: 60px;
  height: 50px;
  transition: all 0.3s ease;
  border-radius: 3px 0px 0px 3px;
  border: none;
  outline: none;
  color: #fff;
}
.search-popup .form-group .search-icon:hover {
  background-color: var(--clr-1-hover);
}

.side-overlay {
  width: 0;
  height: 0;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -999999;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.panel-responsive-item.active .side-overlay,
.side-overlay.active {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 999;
}

/*** mobile-menu-wrapper ***/

.mobile-menu-wrapper {
  display: none;
}

.mobile-menu-wrapper .mobile-menu-overlay {
  width: 0;
  height: 0;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: -999999;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.mobile-menu-wrapper .mobile-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 15px;
  left: -100px;
  z-index: 2201;
  color: #909090;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  background-color: #eee;
  transition: all 0.3s ease;
}
.mobile-menu-wrapper .mobile-menu-close:hover {
  color: var(--clr-1);
}

.mobile-menu-wrapper .mobile-menu-container {
  position: fixed !important;
  top: 0;
  bottom: 0;
  z-index: 99999;
  overflow-y: auto;
  right: -120%;
  width: 420px;
  transition: all 0.3s ease;
  display: block;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
  box-shadow: 1px 0 5px rgb(0 0 0 / 50%);
  background-color: #fff;
  margin-right: 0px !important;
  -webkit-overflow-scrolling: touch;
}

.mobile-menu-wrapper .mobile-menu-container .mobile-search {
  position: relative;
  box-shadow: 0 -1px 9px rgb(0 0 0 / 17%);
}
.mobile-menu-wrapper .mobile-menu-container .mobile-search input {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 35px;
  padding-right: 15px;
  height: 70px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  box-shadow: none;
  vertical-align: middle;
  border-radius: 0;
  color: #909090;
}
.mobile-menu-wrapper .mobile-menu-container .mobile-search input::placeholder {
  color: #909090;
}
.mobile-menu-wrapper .mobile-menu-container .mobile-search button {
  position: absolute;
  left: 15px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  color: #909090;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 0;
  display: block;
  background-color: #fff;
  transition: all 0.3s ease;
}
.mobile-menu-wrapper .mobile-menu-container .mobile-search button:hover {
  color: var(--clr-1);
}

.mobile-menu-wrapper .mobile-menu-container .mobile-nav-tabs {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(129, 129, 129, 0.2);
  background-color: rgba(0, 0, 0, 0.04);
}
.mobile-menu-wrapper .mobile-menu-container .mobile-nav-tabs .mobile-tab {
  position: relative;
  flex: 1 0 50%;
  padding: 18px 15px;
  max-width: 50%;
  width: 50%;
  color: #909090;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-weight: 900;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.25s ease, color 0.25s ease;
}
.mobile-menu-wrapper
  .mobile-menu-container
  .mobile-nav-tabs
  .mobile-tab::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: -1px;
  width: 0;
  height: 2px;
  transition: width 0.25s ease;
  background-color: var(--clr-1);
}
.mobile-menu-wrapper
  .mobile-menu-container
  .mobile-nav-tabs
  .mobile-tab.active {
  background-color: rgba(0, 0, 0, 0.05);
  color: #212529;
}
.mobile-menu-wrapper
  .mobile-menu-container
  .mobile-nav-tabs
  .mobile-tab:first-of-type::after {
  left: 0;
  right: auto;
}
.mobile-menu-wrapper
  .mobile-menu-container
  .mobile-nav-tabs
  .mobile-tab:last-of-type::after {
  right: 0;
  left: auto;
}
.mobile-menu-wrapper
  .mobile-menu-container
  .mobile-nav-tabs
  .mobile-tab.active::after {
  width: 100%;
}

.mobile-menu-wrapper .mobile-menu-container .mobile-menu-tab-pane .mobile-menu {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.mobile-menu-wrapper
  .mobile-menu-container
  .mobile-menu-tab-pane
  .mobile-menu
  .mobile-menu-item {
  display: block;
  position: relative;
}
.mobile-menu-wrapper
  .mobile-menu-container
  .mobile-menu-tab-pane
  .mobile-menu
  .mobile-menu-item
  .mobile-menu-link {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
  border-bottom: 1px solid var(--clr-4-hover);
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.3s ease;
  font-weight: 500;
  color: var(--clr-2);
}
.mobile-menu-wrapper
  .mobile-menu-container
  .mobile-menu-tab-pane
  .mobile-menu
  .mobile-menu-item:last-child
  .mobile-menu-link {
  padding-bottom: 0;
  border-bottom: none;
}
.mobile-menu-wrapper
  .mobile-menu-container
  .mobile-menu-tab-pane
  .mobile-menu
  .mobile-menu-item
  .mobile-menu-link:hover {
  color: var(--clr-1);
}

.mobile-menu-link img {
  width: 30px;
  height: 30px;
  filter: invert(90%) sepia(43%) saturate(1881%) hue-rotate(188deg)
    brightness(97%) contrast(93%);
}

.mobile-menu-link:hover img {
  filter: invert(90%) sepia(95%) saturate(7030%) hue-rotate(346deg)
    brightness(82%) contrast(96%);
}

.mobile-menu-wrapper.active .mobile-menu-overlay {
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1000;
}
.mobile-menu-wrapper.active .mobile-menu-container {
  right: 0;
}
.mobile-menu-wrapper.active .mobile-menu-close {
  display: flex;
  left: 12px;
}

@media (max-width: 991.98px) {
  .mobile-menu-wrapper {
    display: block;
  }
}

@media (max-width: 575.98px) {
  .mobile-menu-wrapper .mobile-menu-container {
    width: 290px;
  }

  .mobile-menu-wrapper
    .mobile-menu-container
    .mobile-menu-tab-pane
    .mobile-menu
    .mobile-menu-item
    .mobile-menu-link {
    font-size: 15px;
  }
}
